    <footer class="foter-pro"  id="foter-pro">

      <div>
            <h1>الوصول السريع</h1>
                        <a href="/home/team"> - <span>Unit  </span>  اعضاء      </a> 
                   <a href="#store"> - <span>Unit </span>ملابس </a>
              <a href="/home/cart">- سلة التسوق</a>
      </div>
            
          
          
          </footer>