<footer  >
<ul>
  
           <li> <a href="/home/team"> <span>Unit  </span>  اعضاء      </a> </li>
          <li> <a href="#store">  <span>Unit </span>ملابس </a></li>
      <li>  <a href="/home/cart">سلة التسوق</a></li>
      
</ul>
     
   
      <h1>  <span>Unit </span> الاشراف من قبل</h1>
    
    
    
    
    </footer>