<footer  >

        <h1 style="font-size: 20px;" >  <span>Amar  </span>   التطوير من قبل</h1>

          <a href="/Team"> <span>Unit  </span>  اعضاء      </a>
          <a href="#store">  <span>Unit </span>ملابس </a>
    
     
   
      <h1>  <span>Unit </span> الاشراف من قبل</h1>
    
    
    
    
    </footer>