<header >
    
  <h1 style="display: none;" id="user"><%= user %></h1>
    
    <div>
      <a style="color: black;" href="/">
        <div>
            <img src="/img/Unit.png"  alt="Unit"><span  class="on_top">on top</span>
        </div>
      </a >
      <div>
        
      </div>
      
      <div>
        
          <a  href="https://discord.gg/zPMB9ve3dj"> Unit Discord<i class="fa-brands fa-sm fa-discord"></i></a>
          <a  href="/home/team">Unit Team <i  class=" fa-solid fa-circle fa-sm fa-user-group"></i></a>
          <a  href="/home/cart">Cart <i class="fa-solid fa-cart-shopping"></i></a>
          <a id="loginUser" href="/home/login">Log In</a>
          <a id="profillUser" href="/home/profile"><i class="fa-solid fa-user"></i></a>
          <div  class="hover-header-elment"> 
          
            <i   class="fa-solid  menu fa-bars"></i>
          
          
          <div>
             <a style="margin-top: 10px;"  class=" headerA1 headerA" href="https://discord.gg/RwQZwvm2"> Unit Discord<i class="fa-brands fa-sm fa-discord"></i></a>
          <a class="headerA1 headerA2 headerA"  href="/home/cart">Cart <i class="fa-solid fa-cart-shopping"></i></a>
          <a class=" headerA  headerA2" href="/home/team">Unit Team <i  class=" fa-solid fa-circle fa-sm fa-user-group"></i></a>
          </div>
            
        </div>
      </div>
    </div>
                             
    </header>
 