
<head>

    <title><%= mytitle%></title>
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <meta thhp-rquiv="x-UA-compatile" content="IE=edge,cheome=1">
    <meta name="viewport" content="width=device-width, initial-scsle=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script defer src="/main.js"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
    .on_top{
      position: absolute;
      bottom: 10px;
      left: 120px;
      font-size: 15px;
      font-family: 'Sofia';
    }
    </style>
</head>
