<!DOCTYPE html>
<html id="top">
  <head>
    <%- include("partials/head.ejs") %>
    <style>
      footer{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
      h1{
        font-size: 60px;
      }
      h4{
        font-size: 30px;
      }
    </style>
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <section class="MainPage">

   <h1 style="margin-left: 45px; margin-top: 130px;"> Error 404</h1>
        <h4 style="margin-left: 50px;" > Back to <a href="/home">Home</a></h4>
    </section>

    <%- include("partials/foter-pro.ejs") %>
  </body>
</html>
