<!DOCTYPE html>
<html id="top">
  <head>
    <%- include("partials/head.ejs") %>
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <div>
        <table>
         <tr>
          <th>الاسم </th>
          <th>العمر </th>
          <th>العمل </th>
          <th>التيشرت</th>
         </tr>
         <tr>
       <td class="td_neam">عمار</td>
       <td class="td_age">13</td>
       <td class="td_neam">اداري</td>
       <td style="text-decoration: none;" class="td_neam"><a style="text-decoration: none;" href="tshert/amartshert.html">التيشرت</a></td>
        </tr>
        <tr>
        <td class="td_neam"> حسن</td>
        <td class="td_age">13 </td>
       <td class="td_neam">اداري</td>
       <td style="text-decoration: none;" class="td_neam"><a style="text-decoration: none;" href="tshert/hasantshert.html">التيشرت</a></td>
        </tr>
        <tr>
           <td class="td_neam">رضا</td>
           <td class="td_age">12</td>
       <td class="td_neam">اداري</td>
       <td style="text-decoration: none;"class="td_neam"><a style="text-decoration: none;" href="tshert/redhtshert.html">التيشرت</a></td>
      </tr>
        <tr>
       <td class="td_neam">قاسم</td>
       <td class="td_age">12</td>
       <td class="td_neam">منظم</td>
       <td style="text-decoration: none;"class="td_neam"><a style="text-decoration: none;" href="tshert/qaseamtshert.html">التيشرت</a></td>

        </tr>
          
         <tr>
       <td class="td_neam">محمد</td>
       <td class="td_age">12</td>
       <td class="td_neam">منظم</td>
       <td style="text-decoration: none;"class="td_neam"><a  style="text-decoration: none;" href="tshert/mohmmedtshert.html">التيشرت</a></td>
         </tr>
       </tr>
       <tr>
       <td class="td_neam">هادي</td>
       <td class="td_age">12</td>
       <td class="td_neam">منظم</td>
       <td class="td_neam"><a style="text-decoration: none;" href="tshert/haditshert.html">التيشرت</a></td>
       </tr>
        </table>
       </div> 
  
  <%- include("partials/foter-pro.ejs") %>
    
  </body>
</html>
