@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@200&display=swap');


*{
  margin: 0;
  padding: 0;
  transition: all 500ms ease-in-out;
  scroll-behavior: smooth;
}
header {
  background-color: #f2f2f2;
  border-bottom: 1px solid #f26938 ;
  box-shadow: 0px 3px 5px 1px  rgba(0, 0, 0, 0.1) ;
  height: 90px;
  width: 100%;
  overflow: hidden;
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px ;
  position: fixed;
  top: 0;
  z-index: 999;
}
header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 70%;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "img links";
}
header > div> a{
  margin-left: 20px;
  margin-right: 310px;

}
header img {

  width: 140px;
  height: 80px;
  border-radius: 50%;
}

.linkH {
display: block;

}
.linkH a{
  margin-right: 40px;
  width: 150px;
  color: black;
  text-decoration: none;
  font-size: 25px;
  font-weight: 700;
  border-radius: 10px;
}
.linkH a:hover{
background-color: rgb(255, 255, 255);
box-shadow: 0px 0px 4px 12px white;

}
.linkH a i{
margin-left: 10px;
  
}
main{
  margin-top: 100px;
}
.headerA{
  display: none;
}
#menu{
  display: none;
}
.dn{
  display: none;
}
.db{
  display: block;
}

#store{
  margin-left: 50px;
  font-size: 30px;
}







.color1 {
  margin-top: 90px;
  background-color: #f2f2f2;
}

.color2 {
  background-color: #f2cb57;
}

.color3 {
  background-color: #f26938;
}

.color4 {
  background-color: #bf3939;
}

.color5 {
  color: white;
  background-color: #000;
}

.color6 {
  background-color: darkblue;
  color: white;
}

.store{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.card{
  background-color: #f2f2f2;
  margin: 20px 30px 20px 30px;
  width: 300px;
  height: 400px;
  overflow: hidden;
position: relative;
  border-radius: 10px;
  box-shadow: 2px 1px 10px 1px  rgba(242, 105, 56, 0.4)  ;
}
.card img{
  display: block;
  width: 280px;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: auto;margin-right: auto;
}
.card h1{
  margin-top: 30px;
  width:230px;
  margin-left: auto;margin-right: auto;
  font-size: 25px;
}
.card h3{
  width:225px;
  margin-left: auto;margin-right: auto;
  color: grey;
  font-size: 20px;
}
.card a{
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: #f2cb57 ;
  width: 65px;
  height: 25px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  text-align: center; 
   box-shadow: 1px 1px 10px 1px  rgba(242, 105, 56, 0.4)  ;
}
.card a:hover{
  box-shadow: 3px 3px 10px 3px  rgba(242, 105, 56, 0.4)  ;

}
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@200&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all ease 300ms;
  font-family: 'Noto Kufi Arabic', serif;
}
main {
  margin-top: 150px;
}
header {
  height: 90px;
  z-index: 999;
  display: flex;
  background-color: #f2f2f2;
  border-radius: 6px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin-bottom: 100px;
  border-bottom: 2px solid #f26938;
}

header > div {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

header > div > div {
  display: flex;
}

header > div > div > a {
  display: block;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 20px;
  font-size: 28px;
  font-weight: 800;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

header div img {
  height: 90px;
}

table {
  border: solid 1px rgb(0, 0, 0);
  width: 500px;
  height: 87px;
  margin: 100px auto 0 auto;
}

th {
  font-size: 28px;
  color: black;
  border: #000 solid 0.5px;
}

td {
  text-align: center;
  border: #000 solid 0.5px;
  font-size: 25px;
  color: black;
}

.back {
  position: fixed;
  bottom: 30;
  left: 10px;
  font-size: 50px;
  color: rgb(255, 255, 255);
  background-color: #333333;
  border-radius: 10px;
  width: 200px;
  height: 70px;
  text-align: center;
}

.back:active {
  color: #bf3939;
}

.fa-user-group {
  margin-left: 10px;
  font-size: 30px;
}

.fa-discord {
  margin-left: 7px;
  font-size: 35px;
}
#store{
  font-weight: 800;
  margin-left: 20px;
  font-size: 30px;
  margin-top: 160px;
}
.store {
  margin-top: 40px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 100px;
}
.store > .card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  border: #f26938 solid 1px;
  border-radius: 20px;
  padding-bottom: 10px;
  box-shadow: 0 5px 15px 0 #333333;
  position: relative;
  margin-left: 30px;
  margin-bottom: 20px;
  padding-bottom: 90px;
}
.store > .card > a:hover {
  transform: scale(1.1, 1.1);
}
.store > .card > img {
  height: 300px;
  display: flex;
  border-radius: 40px;
  padding: 10px;
}

.store > .card > a {
  transition: all 500ms ease;
  text-decoration: none;
  width: 50px;
  background-color: rgb(0, 0, 179);
  color: white;
  border: none;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  text-align: center;
  height: 30px;
  position: absolute;
  bottom: 30px;
  display: block;
  padding-bottom: 10px;
}

.store > .card > h1 {
  margin-left: 20px;
  font-size: 30px;
}
.store > .card > h3 {
  margin-left: 25px;
  font-size: 25px;
}
// drob menu //

.menu {
  display: none !important;
  font-size: 40px;
  margin-top: 20px;
  margin-right: 70px;
  transition: all 500ms ease;
  transform: translate(100px);
  width: 100px;
  text-align: center;
  padding-top: 5px;
  height: 60px;
}

.headerA {
  display: none;
  background-color: rgba(149, 149, 149, 0.3);
  transition: all 3s ease;
  font-size: 28px;
  font-weight: 800;
  color: black;
  cursor: pointer;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
  // border-top: black solid 1px;
  border-right: black solid 1px;
  border-left: black solid 1px; //
  border-radius: 15px;
  // margin-top: 10px; //
  // border-bottom: black solid 1px;    //
}

.headerA2 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.headerA1 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.hover-header-elment {
  margin-right: 50px;
  height: fit-content;
}

.menuActive{
  transform: translate(218px, -4px) rotate(270deg);
  height: fit-content;
  width: fit-content;
}
@media (max-width: 1100px) {
  .TsherTMine div img{
    width: 300px !important;
    height: 300px !important;
  }


}

@media (max-width: 823px) {

  .menu {
    display: block !important;
  }


  header > div > div > a {
    display: none;
  }

}
@media (max-width: 680px) {
  .store {
    text-align: center;
    justify-content: center;
  }
  .TsherTMine div div img{
    width: 300px !important;
    height: 300px !important;

  }
  .TsherTMine div div h1{
 font-size: 30px !important;

  }
  .menu {
    display: block !important;
  }


  header > div > div > a {
    display: none;
  }
}


// -------------------------------------------------------------- //



@media (max-width: 590px) {
  .TsherTMine div img{
    width: 300px !important;
    height: 300px !important;
    margin-right:10px !important;
  }
  .priseDiv{
    width: 400px;
  }
  .amartocart{
    width: 150px !important;
    height: 100px !important;
  }

}


 @media (max-width: 550px) {
  .TsherTMine div div img{
    width: 250px !important;
    height: 250px !important;
    margin-right:10px !important;
  }
  }@media (max-width: 535px) {
    .loginf{
     width: 400px !important;
    }
   }
@media (max-width: 500px) {
  .ReqDiv{
    width: 300px !important;
    height: 100px !important;
  }
  .ReqUser{
    font-size: 20px;
    margin-left:  14px !important;
  }
  .ReqView{
    font-size: 10px;
    margin-left:  16px !important;
  }
  .ReqItem{
    width: 260px !important;
  }
  .TsherTMine div div h1{
    font-size: 25px !important;
   
     }

     .TsherTMine div div img{
width: 200px !important;
height: 200px !important;
       }
}
@media (max-width: 650px) {
  .priseDiv{
   width: 360px !important;
   margin-left: auto !important;
   margin-right: auto !important;
  }  .priseDiv button{
    width: 140px !important;
    height: 100px !important;
    margin-right: 100px !important;
   }
  
}
@media (max-width: 435px) {
  .loginf{
   width: 300px !important;
  }
  .loginf > h1{
    width: 200px !important;
   }
   .loginf > div{
    width: 200px !important;
   }
  .TsherTMine>div div >img{
    width: 150px !important;
    height: 150px !important;

 
  } .TsherTMine>div{
    gap: 10px 10px;
  }
  
 }
@media (max-width: 350px) {


  .hover-header-elment {
    width: 300px;
  }

  .hover-header-elment > div {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100px;
  }

  .store > .card {
    margin-left: 0;
  }
}

@media (max-width: 340px) {
  .TsherTMine>div div >img{
    width: 80px !important;
    height: 80px !important;
margin-left: auto !important;
margin-right: auto !important;
  }
  .TsherTMine div  {
column-gap: 200px;
align-items: center;
justify-content: center;
  }
}
@media (max-width: 300) {
  .TsherTMine>div div >img{

    margin-right: 70px !important;
  }

}

@media (max-width: 390px) {
  .TsherTMine>div div >img{
    width: 150px !important;
    height: 150px !important;
    margin-right: 30px !important;
  }
  .TsherTMine div  {
column-gap: 200px;
align-items: center;
justify-content: center;
  }
}
 @media (max-width: 325px) {
  .store > .card {
    margin-left: 0;
    width: 300px;
  }
  .menu {
    transform: translate(-24px, 0);
    width: 100%;
  }

  .loginf{
    width: 260px !important;
   }
   .loginf > div> input{
    width: 100px !important;
    height: 30px;
   }
   .loginf > div> label{
    width: 100px !important;
    font-size: 13px;
    height: 30px;
   }
}







@media (max-width: 365px) {
  .ReqDiv{
    width: 200px !important;
  }
  .ReqFinish{
    width: 70px !important;
    height: 50px !important;
  }
  .ReqItem{
    width: 210px !important;
  }
  .TsherTMine>div div >img{
    width: 130px !important;
    height: 130px !important;
    margin-right: 40px;
  }

  #Tshertname{
   margin-top: 10px !important;
  }
  .priseDiv{
    width: 260px !important;
    margin-left: auto !important;
    margin-right: auto !important;
   }  
   .priseDiv button{
    font-size: 13px;
    width: 135px !important;
    height: 55px !important;
    position: absolute;
    left: 10px;
    bottom: 10px;
   }
}
@media (max-width: 375px) {
  
  .TsherTMine>div>img{
    width: 200px !important;
    height: 200px !important;
    margin-right: 0;
    margin-left: 40px;
  }
  #Tshertname{
    font-size: 25px !important;
  } .TsherTMine>div>div>div>h2{
   font-size: 20px;
  }
  .TsherTMine>div>div>div{
    display: flex;
    flex-direction: row;
   }
}
@media (max-width: 325px) {
  .store > .card {
    margin-left: 0;
    width: 300px;
  }
  .menu {
    transform: translate(-24px, 0);
    width: 100%;
  }

  header div img{
    height: 75px;
    
  }
  .on_top{
    position: absolute;
    bottom: 15px;
    left: 100px;
    font-size: 15px;
    font-family: 'Sofia';
  }
}

@media (max-width:593px) {
  .cartDiv div   {
    font-size: 10px !important;
  }  .cartDiv div img{
    width: 60px;
    height: 60px !important;
  }
  
  .cartDiv > div:nth-child(1) > div > h1:nth-child(2) ,
  .cartDiv > div:nth-child(1) > div > h1:nth-child(3),
   .cartDiv > div:nth-child(1) > div:nth-child(2) > h1:nth-child(1){
    font-size: 18px;

   } 
   .cartDiv > div:nth-child(1)     {
    margin-left: 160px !important;
    } 
    .cartDiv > div:nth-child(1)   > div:nth-child(2)  {
      margin-right: 50px !important;
      } 
   .cartDiv{
  flex-direction: column-reverse !important;
  height:150px !important;
  align-items: center;
  justify-content: center !important;
   }
}
.TsherTMine > div {
  margin: 0;
display: grid;
grid-template-columns: 1fr 1fr ;
grid-template-rows: 1fr 1fr ;
gap: 10px 30px;
grid-template-areas: 
"title img "
"title img "
"ff ff "

;
  margin-bottom: 80px;
}

.TsherTMine > div > div {
  margin-left: 60px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.TsherTMine > div > div > h1 {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 50px;
}

.TsherTMine > div> div > img {
  margin-right: 100px;
  border-radius: 20px;
  border: #f26938 solid 0.2px;
}

.TsherTMine > .priseDiv > a {
  font-size: 20px;
  font-weight: 800;
  background-color: rgb(0, 0, 216);
  color: white;
  text-decoration: none;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding-top: 5px;
}

.TsherTMine > .priseDiv > a > i {
  margin-left: 10px;
}

.TsherTMine > div > div > h2 > span {
  padding-bottom: 30px;
  display: block;
}

.TsherTMine > .priseDiv {
  display: flex;
  position: absolute;
  top: 0px;
  justify-content: start;
  border: #000 solid 1px;
  max-width: 500px;
  margin-left: 100px;
  margin-bottom: 100px;
  height: 200px;
  border-radius: 8px;
  position: relative;
}

.TsherTMine > .priseDiv > select {
  margin-left: 50px;
  width: 100px;
  height: 50px;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 20px;
}
.TsherTMine > .priseDiv > div {
  display: flex;
  flex-direction: row-reverse;
  // justify-content: space-between; //
  padding: 0;
  margin: 0;
  margin-top: 90px;
}
.TsherTMine > .priseDiv > div > h3:nth-child(1),
.TsherTMine > .priseDiv > div > h3:nth-child(2) {
  margin-left: 30px;
  position: absolute;
  right: 20px;
}

.TsherTMine > .priseDiv > div > h3:nth-child(2) {
  position: absolute;
  right: 80px;
}

footer {
  background-color: #151515;
  color: white;
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
  justify-content: end;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  height: 170px;
  flex-direction: column;
}

.foter-pro {
  position: absolute;
  bottom: 0;
}

footer ul{
  display: flex;flex-direction: column;
  list-style: square;
  color: white;
}
footer > h1,
footer a {
  font-size: 19px;

}footer > h1 span, footer a span{
  font-size: 21px;
  font-weight: 300;
}
footer> h1:last-child{
  font-size: 15px;
}
footer a:hover{
  text-decoration: underline;
}
footer a {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 800;
}

.cartCArdDiv {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
.cartCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  width: 800px;
  border-radius: 10px;
  border: #000 solid 1px;
  height: 100px;
  background-color: #f1f1f1;
  margin-top: 40px;
}

.cartCard > div > img {
  height: 80px;
  margin-right: 30px;
  border-radius: 50%;
}

.cartCard > div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 27%;
  align-items: center;
}

.cartCard > div:nth-child(2) > img {
  margin-left: 30px;
}

.cartCard > div:nth-child(1) {
  justify-content: space-between;
  width: 30%;
}
.cartCard > div:nth-child(1) > h1:nth-child(1) {
  margin-right: 30px;
}

.buyCheck {
  margin-top: 100px;
  background-color: #f1f1f1;
  border-radius: 10px;
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.buyCheck > a {
  border-radius: 10px;
  margin-right: 20px;
  background-color: rgb(0, 0, 216);
  color: white;
  font-size: 20px;
  width: 150px;
  text-align: center;
  font-weight: 300;
  height: 24px;
  cursor: pointer;
  text-decoration: none;
}

.cartsec {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 400px;
  margin-top: 200px;
  overflow: scroll;
}

.cartsec::-webkit-scrollbar {
  width: 1.1rem;
}

.cartsec::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #f98960, #f8ca41);
  border-radius: 1rem;
}

.cartsec::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(90deg, #f8ca41, #f98960);
}

html {
  scrollbar-color: #6db0d6 #3d4a59;
  scrollbar-width: auto;
  scroll-behavior: smooth;
}

.db {
  display: block;
}
.dn {
  display: none;
}


.cartImage {
  border-radius: 50%;
  margin-left: 10px;
}
.mainCART {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cartDiv {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  height: 100px;
  border-radius: 13px;
  border: 2px solid #f26938;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
}
.cartDiv:nth-child(1) {
  margin-top: 70px;
}

.cartDiv > div:nth-child(1) {
  display: flex;
  width: 200px;
  justify-content: space-around;
  flex-direction: column;
}

.cartDiv > div:nth-child(1) > div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-right: 40px;
}

.cartDiv > div > div:nth-child(2) > h1:nth-child(2) {
  margin-right: 20px;
}

.cartDiv > div:nth-child(1) > div > h1 {
  font-size: 23px;
}

.cartDiv > div:nth-child(2) > img {
  height: 90px;
  margin-right: 30px;
}
.cartDiv > div:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.priseDiv > form{
 margin-top: auto;
 margin-bottom: auto; 
 margin-left: 30px;
}
.amartocart{
  background-color: #f1f1f1;
  border-radius: 10px;
  height: 40px;
  font-size: 20px;
  width: 230px;
  font-weight: 600;
  border: 1px solid black;
}
.cartDiv > div:nth-child(2) > ion-icon {
  font-size: 35px;
  margin-right: 20px;
  margin-left: 10px;
  color: #bf3939;
  transition: all 300ms ease;
  position: absolute;
  top: -16px;
  left: -23px;
}

.cartDiv > div:nth-child(2) > ion-icon:hover {
  font-size: 35px;
  margin-right: 20px;
  margin-left: 10px;
  border-radius: 50%;
  font-size: 40px;
  color: #9c3030;

  left: -26px;
}

.FinaleBuy {
  display: flex;
  flex-direction: column;
  border: solid 1px;
  width: 280px;
  height: 130px;
  position: relative;
  border-radius: 10px;
  padding-top: 20px;
  margin-bottom: 100px;
}
.FinaleBuy > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.FinaleBuy > div > h3 {
  margin-left: 10px;

}

.FinaleBuy button {
  width: 30%;
  background-color: #000;
  border: none;
  border-radius: 10px;
  color: white;
  position: absolute;
  bottom: 10px;
  left: 105px;
  right: 150px;
  font-size: 15px;
}

.login {
  width: 100%;
  height: 100%;
  margin-top: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginf {
  background-color: #f2f2f2;
  width: 500px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
  border-radius: 10px;
  border-bottom: #f2cb57 4px solid;
}
#addTocartForm{
  display: none;
}
.loginf h1 {
  display: block;
  background-color: #f2cb57;
  width: 300px;
  height: 50px;
  text-align: center;
  color: white;
  position: absolute;
  top: -25px;
 padding-bottom: 10px;
 font-size: 26px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.3);
  
}
.loginf div {
  width: 400px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.loginf label {
  color: white;
  background-color: #f2cb57;
  width: 130px;
  border-radius: 10px 0 0 10px;
  height: 32px;
  // margin-right: 20px; //
  font-size: 18px;
  text-align: center;
}
.loginf input {
  border-radius: 0 15px 15px 0;
  width: 200px;
  height: 32px;
  border: none;
  box-shadow: -6px 1px 10px 1px rgba(0, 0, 0, 0.3);
}
.loginf button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #f0f0f0;
  box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 0.3);
  font-size: 19px;
}
#error {
  color: red;
}
.loginf a {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 80px;
  height: 25px;

  color: #000;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  background-color: #f0f0f0;
  box-shadow: 3px 4px 10px 1px rgba(0, 0, 0, 0.3);
}
#needLogin {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 30px;
  margin-top: 70px;
}
#needLogin h1{
  font-size: 20px;

}
#needLogin h3 {
position: absolute;
bottom:  10px;
left: -25px;
width: 180px;
}


.color1 {
  margin-top: 90px;
  background-color: #f2f2f2;
}

.color2 {
  background-color: #f2cb57;
}

.color3 {
  background-color: #f26938;
}

.color4 {
  background-color: #bf3939;
}

.color5 {
  color: white;
  background-color: #000;
}

.color6 {
  background-color: darkblue;
  color: white;
}

.alert-done{
background-color: rgb(70, 236, 70);
border-radius: 10px;
position: fixed;
top: 100px;
right: -200px;
width: 200px;
height: 70px;
display: flex;
justify-content: right;
align-items: center;
border: solid 1px rgb(70, 236, 70);
}

.alert-done h1{
  color: white;
  font-size: 40px;
margin-left: 30px;

}.alert-done i{
  color: white;
  font-size: 30px;
  
}
.alert-done-active{
  animation: alert 3s  forwards;
}
@keyframes alert {
  0%{
    right: -200px;
  }
  30%{
    right: 40px;
  }
  50%{
    right: 30px;
  
  }
  70%{
    right: 40px;
  }
  100%{
    right: -200px;
  }
}


.ReqDiv{
  width: 400px;
  height: 80px;
  border: #f26938 solid 1px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: #f1f1f1;
  margin-left: 40px;
  position: relative;
}
.ReqUser{
  font-size: 23px;
  margin-left: 30px;
  margin-top: 1px;
}

.ReqFinish{
  display: block;
  font-size: 13px;
  background-color: white;
  border-radius: 10px;
  width:140px;
  text-align: center;
  height: 25px;
  color: #000;
  text-decoration: none;
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-weight: 600;
}

.ReqView{
  margin-left: 42px;

}


.ReqUser2{

  font-size: 45px;
  height:73px;
  margin-left: 10px;
}

.ReqPhone{

  font-size: 25px;
  margin-left:50px;

  height: 40px;
}

.ReqName{
  font-size: 23px;
  margin-left: 30px;
  margin-top: 1px;
}
.ReqPrice{
  font-size: 16px;
  margin-left: 30px;
  margin-top: 1px;
}

.ReqItem{
  display: block;
  width: 400px;
  height: 80px;
  border: #f26938 solid 1px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: #f1f1f1;
  margin-left: 60px;
  position: relative;
  
}

#ReqCheck{
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  right: 10px;
  top: 10px;
}

#doneCart{
  display: block;
  text-align: center;
  width: 150px;
  height: 60px;
  margin-top: 35px;
  background-color: rgb(0, 200, 0);
  font-size: 30px;
  border-radius: 20px;
  color: white;
  border: none;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.Account{
  margin-left: 20px;

}

.Account h1{
  margin-left: -10px;
  font-size: 30px;
  font-weight: 800;
}


.Account label{

  font-size: 15px;
  font-weight: 600;
text-align: center;
  margin-bottom: 10px;
  position: relative;
  bottom: 4px;
}

.Account input{
  border-radius: 10px;
  border: solid black 1px;
  font-size: 20px;
  font-weight: 600;
  width: 100px;
  height: 30px;

}
.Account input:hover{

  width: 150px;


}
.Account #DoneEdit{
  color: white;
  background-color: #f2cb57;
  border: none;
  width: 50px;
  margin-top: 20px;
  border-radius: 10px;
  height: 30px;
  cursor: pointer;
  position: relative;
  bottom: 2px;
}
.Account #delete, #logout{
  color: white;
  background-color: #bf3939;
  border: none;
  width: 150px;
  margin-top: 20px;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
} */